.categories {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

.category {
  max-width: 300px;
  width: 100%;
  margin: 0.5rem 0;
  background-color: var(--olive);
  border-radius: 1rem;
  border: 1px solid var(--bright);
  user-select: none;
}

.header {
  width: 90%;
  margin: 0.5rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.trait {
  margin: 0 0.5rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.4rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.trait:hover {
  background-color: var(--frog);
  color: var(--olive);
}
