:root {
  --bright: #cdcd8e;
  --olive: #556137;
  --frog: #8eb056;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  background: url('/frog-bg.webp') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--bright);
}

button {
  cursor: pointer;
  display: grid;
  place-items: center;
}

.scroll {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  cursor: all-scroll;
}

/* .scroll::-webkit-scrollbar {
  display: none;
} */

.home {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  overflow: scroll;
}
